<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
    <title>Study BUd</title>
</head>
<body>
<!--main template -->
<!--add navbar to  it -->
{% include 'navbar.html' %}
<!--    if there is flash messages show them-->
<!--those flash messages are built-in django message system-->
<!--it is only appear once then disappear -->
    {% if messages %}
    <ul class="messages">
<!--        all messages have their own tag, so you can give them a style-->
        {% for message in messages%}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}

<img src="{% static 'images/helmet-1.png' %}"  alt="nos"/>
{% block content %}
{% endblock %}

</body>
</html>