<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <title>StudyBuddy - Find study partners around the world!</title>
  </head>

  <body>

    <!--main template -->
<!--add navbar to  it -->
    {% include 'navbar.html' %}
    <!--    if there is flash messages show them-->
<!--those flash messages are built-in django message system-->
<!--it is only appear once then disappear -->

        {% if messages %}
    <ul class="messages">
<!--        all messages have their own tag, so you can give them a style-->
        {% for message in messages%}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}

  {% block content %}

    {% endblock %}
  <script src="{% static  'js/script.js' %}"></script>
  </body>
</html>


